/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* Home section */
#home{
height: 370px;
padding: 34px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}

/* Services section */
#services{flex-direction: column;
}
#serives.box{

}
/* Client section */
#clients{
    overflow: hidden;
}


/* contact us section */

/* footer */
/* Utiliy class */
.h-primary{
    font-size: 26px;
}